@import "tailwindcss";

:root {
<<<<<<< HEAD
  --background: #ffffff;
  --foreground: #171717;
=======
  --background: #0b0f1a;
  --foreground: #ededed;
>>>>>>> master
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

<<<<<<< HEAD
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

=======
html,
>>>>>>> master
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
<<<<<<< HEAD
=======
  min-height: 100%;
>>>>>>> master
}
/* PUREMOON SCROLLBAR */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(120, 120, 140, 0.4);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(160, 160, 180, 0.6);
<<<<<<< HEAD
}
=======
}
>>>>>>> master
